<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/glamora"
        android:label="@string/app_name"
        android:roundIcon="@drawable/glamora"
        android:supportsRtl="true"
        android:theme="@style/Theme.Glamora"
        tools:targetApi="31">
        <activity
            android:name=".View.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".View.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".View.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
    </application>

</manifest>